@import "pannellum/build/pannellum.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.pannellum-viewer {
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 260 25% 11%;

    --card: 0 0% 100%;
    --card-foreground: 260 25% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 260 25% 11%;

    --primary: 262 83% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 310 80% 85%;
    --secondary-foreground: 320 90% 35%;

    --muted: 260 20% 96%;
    --muted-foreground: 260 10% 45%;

    --accent: 260 20% 96%;
    --accent-foreground: 262 83% 58%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 262 30% 90%;
    --input: 262 30% 90%;
    --ring: 262 83% 58%;

    --radius: 1rem;

    --grid-color: rgba(108, 93, 211, 0.15);
  }

  .dark {
    --background: 265 46% 5%;
    --foreground: 210 40% 98%;

    --card: 265 40% 8%;
    --card-foreground: 210 40% 98%;

    --popover: 265 40% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 263 90% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 315 100% 50%;
    --secondary-foreground: 210 40% 98%;

    --muted: 265 30% 15%;
    --muted-foreground: 263 20% 65%;

    --accent: 263 80% 65%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 263 30% 18%;
    --input: 263 30% 18%;
    --ring: 263 90% 65%;

    --grid-color: rgba(157, 110, 255, 0.07);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-grid-pattern {
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 50px 50px;
  background-attachment: fixed;
}

@keyframes float1 {
  0% {
    transform: translate(33%, -25%);
  }
  50% {
    transform: translate(35%, -30%);
  }
  100% {
    transform: translate(33%, -25%);
  }
}
@keyframes float2 {
  0% {
    transform: translate(-25%, 25%);
  }
  50% {
    transform: translate(-28%, 30%);
  }
  100% {
    transform: translate(-25%, 25%);
  }
}
@keyframes float3 {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-52%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.animate-float-1 {
  animation: float1 15s ease-in-out infinite;
}
.animate-float-2 {
  animation: float2 20s ease-in-out infinite;
}
.animate-float-3 {
  animation: float3 10s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
